<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                {{#linkTo 'index' classNames='brand'}}Reading Hacking Blogging{{/linkTo}}
                <ul class="nav">
                    <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
                    <li>{{#linkTo 'posts'}}Posts{{/linkTo}} </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div class="span9">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
